<a id="btn_soft_back" href="#/" class="btn btn-default">{{ 'BTN_SOFT_BACK' | translate}}</a>
<div class="row col-lg-12 sim_header">
	<label class="bg-success col-lg-12">{{ 'SOFTWARE_LABEL' | translate}}</label>
</div>
<div class="col-lg-6 form-horizontal">
	<div class="sim_block">
		<div class="row">
			<label class="col-lg-12">{{ 'INFORMATION_LABEL' | translate}}</label>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="fileName">{{ 'FILE_NAME' | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedSoftware.fileName" id="fileName" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="name">{{ selectedSoftware.name.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedSoftware.name.value" id="name" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="type">{{ selectedSoftware.type.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedSoftware.type.value" id="type" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="description">{{ selectedSoftware.description.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedSoftware.description.value" id="description" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="random">{{ selectedSoftware.random.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedSoftware.random.value" id="random" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="osSpecific">{{ selectedSoftware.osSpecific.description | translate}}</label>
			<div class="col-lg-8">
				<input type="checkbox" ng-model="selectedSoftware.osSpecific.value" id="osSpecific" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="oneClient">{{ selectedSoftware.oneClient.description | translate}}</label>
			<div class="col-lg-8">
				<input type="checkbox" ng-model="selectedSoftware.oneClient.value" id="oneClient" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="inHouse">{{ selectedSoftware.inHouse.description | translate}}</label>
			<div class="col-lg-8">
				<input type="checkbox" ng-model="selectedSoftware.inHouse.value" id="inHouse" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="categories">{{ selectedSoftware.categories.description | translate}}</label>
			<div class="col-lg-8">
				<button id="addCategory" ng-click="addCategoryBtn()" class="btn btn-default">{{ 'BTN_ADD_CATEGORY' | translate}}</button>
				<ul>
					<li ng-repeat="(index, category) in selectedSoftware.categories.value">
						<a ng-click="selectCategory($index)" href="">{{category.category.value.name.value}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="needs">{{ selectedSoftware.needs.description | translate}}</label>
			<div class="col-lg-8">
				<button id="addNeed" ng-click="addNeedBtn()" class="btn btn-default">{{ 'BTN_ADD_NEED' | translate}}</button>
				<ul>
					<li ng-repeat="(index, need) in selectedSoftware.needs.value">
						<a ng-click="selectNeed($index)" href="">{{need.name.value}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label" for="features">{{ selectedSoftware.features.description | translate}}</label>
			<div class="col-lg-8">
				<button id="addFeature" ng-click="addFeatureBtn()" class="btn btn-default">{{ 'BTN_ADD_FEATURE' | translate}}</button>
				<ul>
					<li ng-repeat="(index, feat) in selectedSoftware.features.value">
						<a ng-click="selectFeature($index)" href="">{{feat.feature.value.name.value}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="sim_block">
		<div ng-switch="selectedCategory != undefined">
			<div ng-switch-when="true">
				<div ng-include="'view/partials/software/category.html'">
				</div>
			</div>
		</div>
		<div ng-switch="selectedNeed != undefined">
			<div ng-switch-when="true">
				<div ng-include="'view/partials/software/need.html'">
				</div>
			</div>
		<div ng-switch="selectedFeature != undefined">
			<div ng-switch-when="true">
				<div ng-include="'view/partials/software/feature.html'">
				</div>
			</div>
		</div>
	</div>
</div>
