<div class="row col-lg-12 sim_header">
	<label class="bg-success col-lg-12">{{ 'CATEGORY_LABEL' | translate}}</label>
</div>
<div class="col-lg-12 form-horizontal">
	<div class="sim_block">
		<div class="row">
			<label class="col-lg-3 control-label" for="name">{{ selectedCategory.name.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.name.value" id="name" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="description">{{ selectedCategory.description.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.description.value" id="description" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="popularity">{{ selectedCategory.popularity.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.popularity.value" id="popularity" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="retention">{{ selectedCategory.retention.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.retention.value" id="retention" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="timeScale">{{ selectedCategory.timeScale.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.timeScale.value" id="timeScale" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="iterative">{{ selectedCategory.iterative.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.iterative.value" id="iterative" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-3 control-label" for="nameGenerator">{{ selectedCategory.nameGenerator.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedCategory.nameGenerator.value" id="nameGenerator" class="form-control"/>
			</div>
		</div>
		<button id="addCategory" ng-click="validCategoryBtn()" class="btn btn-default pull-right">{{ 'BTN_VALID_CATEGORY' | translate}}</button>
	</div>
</div>