<div class="row col-lg-12 sim_header">
	<label class="bg-success col-lg-12">{{ 'NEED_LABEL' | translate}}</label>
</div>
<div class="col-lg-12 form-horizontal">
	<div class="sim_block">
		<div class="row">
			<label class="col-lg-3 control-label" for="name">{{ selectedNeed.name.description | translate}}</label>
			<div class="col-lg-8">
				<input type="text" ng-model="selectedNeed.name.value" id="name" class="form-control"/>
			</div>
		</div>
		
		<button id="addCategory" ng-click="validBtn()" class="btn btn-default pull-right">{{ 'BTN_VALID' | translate}}</button>
	</div>
</div>